@use '../../variables.scss' as variables;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: variables.$color-white-primary;
  padding: 0 96px;
  box-shadow: 0 5px 10px -6px rgba($color: variables.$color-black-primary, $alpha: .1);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 64px;
  }

  &__logoLink {
    display: block;
    width: 100%;
    &:hover {
      opacity: 0.5;
    }
  }

  &__nav {
    font-weight: 700;
    font-size: 16px;
  }
  &__navItems {
    display: flex;
  }
  &__navItem {
    margin-right: 24px;
    &:hover {
      text-decoration: underline;
    }
  }
}
